* {
  padding: 0px;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: auto;
  display: grid;
  place-items: center;
  background: #e0e5ec;
  margin-top: 10rem;
  gap: 1rem;
}

input {
  width: 300px;
  padding: 14px;
  border-radius: 20px;
  border-style: none;
  font-size: large;
}

button {
  width: 300px;
  padding: 14px;
  border-radius: 20px;
  background-color: rgb(66, 115, 183);

  color: rgb(255, 255, 255);
  font-size: large;
  border-style: none;
}

button:hover {
  background-color: rgb(36, 73, 125);
}

h1{
  margin-bottom: 2rem;
  color: rgb(6, 11, 84);
}