body{
    background-color: rgb(128, 128, 193);
}
.table {
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}
