* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  height: 300px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 340px;
  text-align: center;
}
input {
  height: 4vh;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(200, 202, 209);
  border: none;
  width: 300px;
}
input::placeholder {
  padding: 5px;
}

button {
  margin-top: 10px;
  /* margin-left: 70px; */
  height: 1.5rem;
  width: 90%;
  background-color: rgb(98, 123, 192);
  border-radius: 10px;
  border: #fff;
}
button:hover {
  background-color: rgb(47, 88, 166);
}
