<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>border</title>
    <style>
      .in {
        background-color: blue;
        border: 2px solid green;
        padding: 20px;
        font-size: large;
        font-weight: bolder;
        color: cyan;
      }
      span {
        border: 5px solid yellow;
        background-color: burlywood;
        padding: 10px;
      }
      p {
        background-color: brown;
        padding: 18px;
        margin-bottom: 33px;
      }
    </style>
  </head>
  <body>
    <p class="in">This is paragraph with class in</p>
    <p>This is default paragraph</p>
    <span>inline element</span>
  </body>
</html>
